# EJERCICIO 1 - ANÁLISIS EXPLORATORIO
### Machine Learning Engineering
- Francisco Castillo - 21562
- Adrian Fulladolsa - 21592
-  Jose Kiesling - 21581
- Diego Lemus - 21469

=====================================

### LIBRERÍAS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import ceil
from scipy.stats import chi2_contingency
import seaborn as sns

### DATASET

In [2]:
file_path = "data/customer_churn_prediction_dataset.csv"
df = pd.read_csv(file_path)

In [3]:
print(df.head())

  customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  0001-XXXX    Male              0     Yes        Yes       5           No
1  0002-XXXX  Female              0      No         No      42          Yes
2  0003-XXXX    Male              0      No         No      61          Yes
3  0004-XXXX    Male              1      No        Yes      22          Yes
4  0005-XXXX    Male              1     Yes        Yes      21           No

      MultipleLines InternetService       OnlineSecurity  ...  \
0               Yes              No                   No  ...
1  No phone service             DSL                  Yes  ...
2  No phone service              No                   No  ...
3                No              No  No internet service  ...
4                No             DSL                   No  ...

      DeviceProtection TechSupport          StreamingTV      StreamingMovies  \
0                   No          No                   No  No internet service
1                   No          No  No internet service  No internet service
2                   No         Yes                  Yes                   No
3                  Yes          No  No internet service                  Yes
4  No internet service          No                   No  No internet service

         Contract PaperlessBilling     PaymentMethod MonthlyCharges  \
0  Month-to-month              Yes       Credit card          27.43
1        Two year               No  Electronic check          38.28
2        One year               No     Bank transfer         106.44
3  Month-to-month               No  Electronic check          92.49
4        One year               No     Bank transfer          19.63

   TotalCharges  Churn
0        137.15    Yes
1       1607.76    Yes
2       6492.84    Yes
3       2034.78     No
4        412.23    Yes

[5 rows x 21 columns]

### ANÁLISIS EXPLORATORIO

In [4]:
def print_title(title):
    print("\n" + title)
    print("-" * 50)

In [5]:
print_title("Dimensiones del dataset")
print(f"Cantidad de filas: {df.shape[0]:,}")
print(f"Cantidad de columnas: {df.shape[1]}\n")

Dimensiones del dataset
--------------------------------------------------
Cantidad de filas: 300
Cantidad de columnas: 21

In [6]:
print_title("Tipos de datos por columna")
for col, dtype in df.dtypes.items():
    print(f"- {col:<20} : {dtype}")

Tipos de datos por columna
--------------------------------------------------
- customerID           : object
- gender               : object
- SeniorCitizen        : int64
- Partner              : object
- Dependents           : object
- tenure               : int64
- PhoneService         : object
- MultipleLines        : object
- InternetService      : object
- OnlineSecurity       : object
- OnlineBackup         : object
- DeviceProtection     : object
- TechSupport          : object
- StreamingTV          : object
- StreamingMovies      : object
- Contract             : object
- PaperlessBilling     : object
- PaymentMethod        : object
- MonthlyCharges       : float64
- TotalCharges         : float64
- Churn                : object

In [7]:
print_title("Tipos de valores únicos por columna:")
for col in df.columns:
    unique_count = df[col].nunique()
    print(f"- {col:<20} : {unique_count:>3}")

Tipos de valores únicos por columna:
--------------------------------------------------
- customerID           : 300
- gender               :   2
- SeniorCitizen        :   2
- Partner              :   2
- Dependents           :   2
- tenure               :  70
- PhoneService         :   2
- MultipleLines        :   3
- InternetService      :   3
- OnlineSecurity       :   3
- OnlineBackup         :   3
- DeviceProtection     :   3
- TechSupport          :   3
- StreamingTV          :   3
- StreamingMovies      :   3
- Contract             :   3
- PaperlessBilling     :   2
- PaymentMethod        :   4
- MonthlyCharges       : 295
- TotalCharges         : 299
- Churn                :   2

In [8]:
print_title("Valores únicos por columna:")
exclude_col = ['customerID', 'MonthlyCharges', 'TotalCharges']

for col in df.columns:
    if col in exclude_col:
        continue
    unique_values = df[col].unique()
    print(f"- {col}:")
    print(f"{unique_values}\n")

Valores únicos por columna:
--------------------------------------------------
- gender:
['Male' 'Female']

- SeniorCitizen:
[0 1]

- Partner:
['Yes' 'No']

- Dependents:
['Yes' 'No']

- tenure:
[ 5 42 61 22 21 70  1 12 46 34 49 45 27 26 47 56 63 48 36  8 52 14 28  2
 59  7  3 23 18 38 15 64 39 57 17 44 25 13 68 10 67 40 41  6 33 53  4 62
 24 55  9 31 66 51 19 20 37 11 50 65 35 69 60 72 30 32 29 43 54 71]

- PhoneService:
['No' 'Yes']

- MultipleLines:
['Yes' 'No phone service' 'No']

- InternetService:
['No' 'DSL' 'Fiber optic']

- OnlineSecurity:
['No' 'Yes' 'No internet service']

- OnlineBackup:
['Yes' 'No internet service' 'No']

- DeviceProtection:
['No' 'Yes' 'No internet service']

- TechSupport:
['No' 'Yes' 'No internet service']

- StreamingTV:
['No' 'No internet service' 'Yes']

- StreamingMovies:
['No internet service' 'No' 'Yes']

- Contract:
['Month-to-month' 'Two year' 'One year']

- PaperlessBilling:
['Yes' 'No']

- PaymentMethod:
['Credit card' 'Electronic check' 'Bank transfer' 'Mailed check']

- Churn:
['Yes' 'No']

In [14]:
df.describe(include='all')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,300,300,300.000000,300,300,300.000000,300,300,300,300,...,300,300,300,300,300,300,300,300.000000,300.000000,300
unique,300,2,NaN,2,2,NaN,2,3,3,3,...,3,3,3,3,3,2,4,NaN,NaN,2
top,0001-XXXX,Male,NaN,Yes,Yes,NaN,Yes,No,Fiber optic,No,...,Yes,No internet service,No,No internet service,Month-to-month,Yes,Electronic check,NaN,NaN,No
freq,1,151,NaN,155,158,NaN,156,105,105,107,...,110,103,118,107,111,164,77,NaN,NaN,161
mean,NaN,NaN,0.543333,NaN,NaN,35.783333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.226800,2477.975767,NaN
std,NaN,NaN,0.498951,NaN,NaN,21.113400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.638073,1918.540111,NaN
min,NaN,NaN,0.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.450000,30.030000,NaN
25%,NaN,NaN,0.000000,NaN,NaN,17.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.337500,910.302500,NaN
50%,NaN,NaN,1.000000,NaN,NaN,36.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.635000,2072.400000,NaN
75%,NaN,NaN,1.000000,NaN,NaN,53.250000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.430000,3618.405000,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.640000,8318.880000,NaN

In [10]:
def calculate_cramers_v(x, y):
    confusion_matrix = pd.crosstab(x, y)
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2 / n
    r, k = confusion_matrix.shape
    phi2corr = max(0, phi2 - ((k-1)*(r-1))/(n-1))
    rcorr = r - ((r-1)**2)/(n-1)
    kcorr = k - ((k-1)**2)/(n-1)
    return np.sqrt(phi2corr / min((kcorr-1), (rcorr-1)))

In [11]:
def analyze_churn_correlations(df, target_column='Churn', top_n=10):    
    correlations = []
    
    target_binary = df[target_column].copy()
    if target_binary.dtype == 'object':
        unique_vals = target_binary.dropna().unique()
        if len(unique_vals) == 2:
            churn_indicators = ['Yes', 'yes', 'YES', '1', 1, 'True', 'true', 'Churned', 'churned']
            target_binary = target_binary.apply(lambda x: 1 if x in churn_indicators else 0)
        else:
            print(f"Warning: Target column has {len(unique_vals)} unique values: {unique_vals}")
            return None
    
    print(f"Analizando correlacion con columna '{target_column}'...\n")
    print(f"Distribucion objetivo: {df[target_column].value_counts().to_dict()}\n")
    
    # Analyze each column
    for column in df.columns:
        if column == target_column:
            continue
            
        if df[column].isnull().sum() / len(df) > 0.5:
            continue
            
        try:
            clean_data = df[[column, target_column]].dropna()
            
            if len(clean_data) < 10:
                continue
                
            x = clean_data[column]
            y_binary = target_binary[clean_data.index]
            y_original = clean_data[target_column]
            
            correlation_value = 0
            correlation_type = ""
            p_value = None
            
            if df[column].dtype in ['int64', 'float64']:
                correlation_value = np.corrcoef(x, y_binary)[0, 1]
                correlation_type = "Pearson (Numerical vs Binary)"
                
            else:
                correlation_value = calculate_cramers_v(x, y_original)
                correlation_type = "Cramer's V (Categorical vs Categorical)"
            
            correlations.append({
                'Column': column,
                'Correlation': correlation_value,
                'Abs_Correlation': abs(correlation_value),
                'Correlation_Type': correlation_type,
                'Data_Type': str(df[column].dtype),
                'Missing_Values': df[column].isnull().sum(),
                'Unique_Values': df[column].nunique()
            })
            
        except Exception as e:
            print(f"Error processing column '{column}': {str(e)}")
            continue
        
    results_df = pd.DataFrame(correlations)
    results_df = results_df.sort_values('Abs_Correlation', ascending=False)
    
    print("="*80)
    print(f"TOP {min(top_n, len(results_df))} Features con mayor correlacion con {target_column.upper()}")
    print("="*80)
    
    display_df = results_df.head(top_n).copy()
    display_df['Correlation'] = display_df['Correlation'].round(4)
    display_df['Abs_Correlation'] = display_df['Abs_Correlation'].round(4)
    
    for idx, row in display_df.iterrows():
        print(f"{row['Column']:<20} | Corr: {row['Correlation']:<8.4f} | Type: {row['Correlation_Type']}")
    
    print("\n" + "="*80)
    
    
    return results_df

In [12]:
def quick_churn_analysis(df, target_column='Churn', top_n=5):
    results = analyze_churn_correlations(df, target_column, top_n)

    if results is not None:
        print(f"\nResumen - Top {top_n} predictores de {target_column}:")
        print("-" * 50)
        for idx, row in results.head(top_n).iterrows():
            direction = "↑ Mayor churn" if row['Correlation'] > 0 else "↓ Menor churn"
            print(f"{row['Column']:<20} | {row['Correlation']:<7.3f} | {direction}")

    return results

In [13]:
quick_churn_analysis(df, target_column='Churn', top_n=10)

Analizando correlacion con columna 'Churn'...

Distribucion objetivo: {'No': 161, 'Yes': 139}

================================================================================
TOP 10 Features con mayor correlacion con CHURN
================================================================================
StreamingTV          | Corr: 0.1111   | Type: Cramer's V (Categorical vs Categorical)
tenure               | Corr: -0.0792  | Type: Pearson (Numerical vs Binary)
MonthlyCharges       | Corr: -0.0759  | Type: Pearson (Numerical vs Binary)
TotalCharges         | Corr: -0.0626  | Type: Pearson (Numerical vs Binary)
SeniorCitizen        | Corr: -0.0607  | Type: Pearson (Numerical vs Binary)
OnlineSecurity       | Corr: 0.0536   | Type: Cramer's V (Categorical vs Categorical)
OnlineBackup         | Corr: 0.0513   | Type: Cramer's V (Categorical vs Categorical)
PaymentMethod        | Corr: 0.0457   | Type: Cramer's V (Categorical vs Categorical)
Partner              | Corr: 0.0415   | Type: Cramer's V (Categorical vs Categorical)
InternetService      | Corr: 0.0000   | Type: Cramer's V (Categorical vs Categorical)

================================================================================

Resumen - Top 10 predictores de Churn:
--------------------------------------------------
StreamingTV          | 0.111   | ↑ Mayor churn
tenure               | -0.079  | ↓ Menor churn
MonthlyCharges       | -0.076  | ↓ Menor churn
TotalCharges         | -0.063  | ↓ Menor churn
SeniorCitizen        | -0.061  | ↓ Menor churn
OnlineSecurity       | 0.054   | ↑ Mayor churn
OnlineBackup         | 0.051   | ↑ Mayor churn
PaymentMethod        | 0.046   | ↑ Mayor churn
Partner              | 0.041   | ↑ Mayor churn
InternetService      | 0.000   | ↓ Menor churn

C:\Users\PiCi\AppData\Local\Temp\ipykernel_14308\2996117217.py:10: RuntimeWarning: invalid value encountered in scalar divide
  return np.sqrt(phi2corr / min((kcorr-1), (rcorr-1)))

,Column,Correlation,Abs_Correlation,Correlation_Type,Data_Type,Missing_Values,Unique_Values
13,StreamingTV,0.111097,0.111097,Cramer's V (Categorical vs Categorical),object,0,3
5,tenure,-0.079247,0.079247,Pearson (Numerical vs Binary),int64,0,70
18,MonthlyCharges,-0.075914,0.075914,Pearson (Numerical vs Binary),float64,0,295
19,TotalCharges,-0.062562,0.062562,Pearson (Numerical vs Binary),float64,0,299
2,SeniorCitizen,-0.060702,0.060702,Pearson (Numerical vs Binary),int64,0,2
9,OnlineSecurity,0.053609,0.053609,Cramer's V (Categorical vs Categorical),object,0,3
10,OnlineBackup,0.051307,0.051307,Cramer's V (Categorical vs Categorical),object,0,3
17,PaymentMethod,0.045656,0.045656,Cramer's V (Categorical vs Categorical),object,0,4
3,Partner,0.041464,0.041464,Cramer's V (Categorical vs Categorical),object,0,2
8,InternetService,0.000000,0.000000,Cramer's V (Categorical vs Categorical),object,0,3
7,MultipleLines,0.000000,0.000000,Cramer's V (Categorical vs Categorical),object,0,3
6,PhoneService,0.000000,0.000000,Cramer's V (Categorical vs Categorical),object,0,2
11,DeviceProtection,0.000000,0.000000,Cramer's V (Categorical vs Categorical),object,0,3
12,TechSupport,0.000000,0.000000,Cramer's V (Categorical vs Categorical),object,0,3
4,Dependents,0.000000,0.000000,Cramer's V (Categorical vs Categorical),object,0,2
14,StreamingMovies,0.000000,0.000000,Cramer's V (Categorical vs Categorical),object,0,3
15,Contract,0.000000,0.000000,Cramer's V (Categorical vs Categorical),object,0,3
16,PaperlessBilling,0.000000,0.000000,Cramer's V (Categorical vs Categorical),object,0,2
1,gender,0.000000,0.000000,Cramer's V (Categorical vs Categorical),object,0,2
0,customerID,NaN,NaN,Cramer's V (Categorical vs Categorical),object,0,300

### Descripción de lo que representan cinco columnas del dataset

1. tenure: Número de meses que el cliente lleva usando el servicio. Un valor alto indica mayor antigüedad y viceversa.

2. MonthlyCharges: Importe que paga el cliente cada mes, puede correlacionarse con el tipo y la cantidad de servicios contratados; importes más elevados a veces se asocian un coste excesivo.

3. Contract: Tipo de contrato que tiene el cliente con la compañía.
    - Month-to-month: renovación cada mes, es más flexible.
    - One year o Two year: contratos fijos a 12 o 24 meses, hay más retención.

4. InternetService: Tecnología de acceso a internet contratada.
    - DSL
    - Fiber optic
    - No (sin acceso).

5. Churn: Variable objetivo indicando si el cliente canceló el servicio ("Yes") o sigue activo ("No").

### Columnas a usar como entrada para un modelo de machine learning

Se utilizarán las columnas:
- StreamingTV
- tenure
- MonthlyCharges
- SeniorCitizen
- OnlineSecurity   

Debido a su alta correlación con la columna Churn ya sea como indicador de mayor o menor churn